body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    min-height: 100vh;
}

#wrapper{
    width: 350px;
    height: 500px;
    background-color: blue;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#display{
    height: 70px;
    padding: 10px;
    font-size: 26px;
    text-align: right;
    outline: none;
    border: none;
}

#display:hover{
    outline: none;
    border: none;
}

#numpad{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 35px repeat(5, auto);
    gap: 5px;
}

.btn{
    font-size: 20px;
    font-weight: 500;
}

.eq-btn{
    grid-column-start: 4;
    grid-row: span 4;
}

.del-btn{
    grid-column: span 2;
    font-size: 18px;
}