#container{
    display: flex;
    justify-content: center;
    padding: 20px;
}

#wrapper{
    width: 350px;
    height: 500px;
    background-color: blue;
    padding: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

#display{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 24px;
    text-align: right;
}

#numpad{
    width: 100%;
    flex-grow: 1;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.eq-btn{
    grid-row: span 4;
}